.top-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 104px;
  border-bottom: 1px solid var(--nightshift-100);

}

.top-content-list {
  display: flex;
  flex-direction: row;
}

.top-content-header {
  margin-left: 20px;
}