@font-face {
    font-family: 'Tinos';
    src: url('../fonts/Tinos-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFontt.ttf') format('truetype');
}

@font-face {
    font-family: 'Test';
    src: url('../fonts/MrsSaintDelafield-Regular.ttf') format('truetype');
}