.m__menu-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
  height: 100%;
}

.mn-container {
  width: 298px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: all 0.5s ease;
}

.mn-mini {
  width: 88px;

}

.mn-btn-expand {
  position: absolute;
  z-index: 11;
  width: 32px;
  height: 32px;
  transform: rotate(0deg);
  right: -16px;
  top: 28px;
  border-radius: 50%;
  background-color: var(--dayshift-50);
  border: 1px solid rgba(197, 196, 197, 1);
  color: rgba(197, 196, 197, 1);
  transition: all 0.5s ease-in-out;
}

.mn-btn-expanded {
  transform: rotate(-180deg);
}

.mn__logo-box {
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin: 25px 0px 17px 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.mn__link {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  overflow: hidden;
}

.mn--link::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mn__user {
  padding: 8px 8px 8px 24px;
  border-top: 1px solid var(--persian-green-50);
}

.text-hover-persian-green-200 {
  position: relative;
}

.text-hover-persian-green-200:hover {
  color: var(--persian-green-200);
  position: relative;
}


.text-hover-persian-green-200::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: var(--persian-green-200);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;

}

.text-hover-persian-green-200:hover::before {
  visibility: visible;
  transform: scaleX(1);
}