.mn-navbar-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0px 16px 0px 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  cursor: pointer;
}

.mn__item--box {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  transition: all 0.2s ease-in-out;
  min-height: 60px;
  z-index: 99;
}

.mn__item--box:hover {
  background-color: var(--persian-green-700);
  border-radius: 8px;

}

.mn__item--icon {
  font-size: 20px;
}

.mn__item--label {
  color: var(--persian-green-50, #F4FCFB);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  flex: 1;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.28px;
  overflow: hidden;
  white-space: nowrap;
}

.mn__item--labels {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
}

.mn__item--expand {
  font-size: 24px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.mn__item--expanded {
  transform: rotate(-180deg);
}

.mn__nested {
  height: 0px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.mn__nested--expanded {
  display: flex;
  height: auto;
  width: auto;
  padding: 8px 0px;
  gap: 8px;
}

.mn__sub--item {
  display: flex;
  width: 298px;
  height: 44px;
  padding: 0px 24px 0px 38px;
  align-items: center;
  gap: 14px;
  z-index: 1;
  cursor: pointer;
}

.mn__sub-label {
  border-radius: 8px;
  display: flex;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.mn__sub--item:hover .mn__sub-label {
  background-color: var(--persian-green-600);
}

.mn__divider {
  width: 1px;
  height: 100%;
}

.ms--disabled {
  pointer-events: none;
  color: var(--nightshift-300, #6B6B6B);
}

.ms--disabled svg {
  fill: var(--nightshift-300, #6B6B6B);
}

.mn__sub--item:hover .ms__disabled {
  background-color: none;
}