.mn-links {
  height: 100%;
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: scroll;

  @media (max-width: 768px) {
    width: 100vw;
    height: 0vh;
    position: absolute;
    z-index: 9999;
    background: var(--persian-green-800);
    top: 50px;
    left: 0px;
    transition: height 0.3s ease-in-out;

  }
}

.mn-links--mobile-expanded {
  @media (max-width: 768px) {
    height: 100vh;

  }
}

.mn-links::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}