@font-face {
  font-family: "Times New Roman";
  src: url("/supco/static/src/fonts/times new roman.ttf");
  font-weight: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url("/supco/static/src/fonts/times new roman bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Times New Roman";
    src: url("/supco/static/src/fonts/times new roman italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Times New Roman";
    src: url("/supco/static/src/fonts/times new roman bold italic.ttf");
    font-weight: bold;
    font-style: italic;
}

.page {
  font-family: "Times New Roman";
}

.header {
  font-family: "Times New Roman";
}

.footer {
  font-family: "Times New Roman";
}

.div {
  font-family: "Times New Roman";
}