.ms__root--container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.ms__main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}